body {
    background-image: url('https://i.redd.it/jxssbh383n0y.jpg');
    background-size: 100%;
    color: #FFFFFF;
    opacity: .85;
}

a {
    color: #00B7FF;
}

#login-section {
    background-color: #333333;
}

#commentsData {
    list-style: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;
    height: -webkit-calc(70vh);
    height: -moz-calc(70vh);
    height: 70vh;
    background-color: #333333;
    overflow: auto;
}

.comment_data {
    padding: 5px;
}

.name {
    font-weight: bold;
}

#comment-section {
    display: none;
}

.space {
    height: 30px;
    widht: 100%;
}

.alerts {
    position: fixed;
    z-index: 100;
    left: 25%;
    right: 25%;
    top: 0;
}

.alert-msg {
    display: none;
    padding: 5px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    opacity: 1;
}